/* .myContainer {
  background-color: #292a2d;
  color: white;
  width: 100vw;
} */


/*@media only screen and (min-width: 768px) {
  .myContainer {
    height: 100vh;
  }
}

@media only screen and (max-width: 767px) {
  .myContainer {
    height: 100%;
  }
} */
img {
  /* width: 400px; */
  height: 200px;
}